spring:

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        ddl-auto: validate
  flyway:
    enabled: true

  profiles:
    active: dev

  application:
    name: auth_server

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: caches